asgiref==3.11.1
Django==5.0.1
sqlparse==0.5.5
tzdata==2026.2

pandas==2.3.2
numpy==2.3.2
openpyxl==3.1.5
pyxlsb==1.0.10

python-docx==1.2.0
docxtpl==0.20.2
lxml==6.1.1
Pillow==11.3.0

python-dateutil==2.9.0.post0
python-dotenv==1.0.0

urllib3==2.5.0
requests==2.32.5
Office365-REST-Python-Client==2.6.2
msal==1.37.0

cryptography==49.0.0
cffi==2.0.0
tqdm==4.67.1