.custom-navbar{

    background:linear-gradient(90deg,#004B8D,#007BFF);

    padding:10px 30px;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

}

/* Logo */

.logo{

    width:60px;

    height:60px;

    object-fit:contain;

}

/* Portal Title */

.portal-title{

    color:#fff;

    font-size:28px;

    font-weight:700;

}

/* Date */

.date-box{

    color:#fff;

    font-size:17px;

    font-weight:600;

}

